.favorites {
  min-height: 685px;
  margin-top: 36px;
  color: #d6d6d6;
  &_header {
    font-size: 22px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  &_list {
    background-color: #4b4b4b;
    border-radius: 4px;
  }
  & img {
    max-width: 200px;
    box-shadow: 5px 5px 12px rgb(43, 17, 0);
    width: 100%;
    cursor: pointer;
  }
  &_price {
    min-width: 110px;
  }
  &_empty {
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
  }
}