.navlink {
  @media (max-width: 1000px) {
    margin-top: 10px;
  }
  @media (max-width: 599px) {
    display: none !important;
  }
  &__main {
    color: #d6d6d6;
      text-decoration: none;
      margin-left: 25px;
      &__noActive {
        pointer-events: none;
        color: #ffffff;
      }
      &:hover {
        color: #ffffff;
      }
      @media (max-width: 1000px) {
        margin-left: 0;
      }
  }
  &__next {
    color: #d6d6d6;
      text-decoration: none;
      &__noActive {
        pointer-events: none;
        color: #ffffff;
      }
      &:hover {
        color: #ffffff;
      }
  }
}