.profile {
  margin-top: 80px;
  min-height: 600px;
  color: #d6d6d6;
  @media (max-width: 600px) {
    min-height: 400px;
  }
  &_name {
    display: flex;
    & img {
      @media (max-width: 600px) {
        width: 175px;
        height: 175px;
      }
      @media (max-width: 320px) {
        width: 100px;
        height: 100px;
      }
    }
  }
  & h1 {
    margin-left: 100px;
    text-shadow: 1px 1px 2px rgb(43, 17, 0);
    @media (max-width: 600px) {
      margin-left: 50px;
    }
  }
}
.active {
  color: #ffffff;
}
.p_pass {
  font-size: 18px;
  border-radius: 4px;
  background-color: #4b4b4b;
  margin-top: 80px;
  width: 146px;
  padding: 10px;
}
.p_logout {
  font-size: 18px;
  border-radius: 4px;
  background-color: #4b4b4b;
  margin-top: 30px;
  width: 53px;
  padding: 10px;
}