.form {
  margin-top: 50px;
  padding: 25px;
  border-radius: 4px;
  color: #d6d6d6;
  background-color: #4b4b4b;
  &_review {
    display: flex;
  }
  &_explan {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #a8a8a8;
  }
  & img {
    width: 100px;
    height: 100px;
  }
  &_text {
    width: 100%;
    min-height: 200px;
    margin-left: 25px;
    padding: 20px;
    border-radius: 4px;
    background-color: #d6d6d6;
    box-shadow: 0px 0px 10px 1px rgb(43, 17, 0) inset;
  }
  &_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}