.swiper {
  border-radius: 25px;
  border: 1px solid #ffffffa6;
  box-shadow: 6px 4px 35px rgb(43, 17, 0);
  width: 100%;
  height: 100%;
}
.swiper_slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper_slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.description {
  @media (max-width: 1140px) {
    display: none;
  }
  @media (min-width: 1141px) and (max-width: 1850px) {
    margin-left: 700px;
  }
  position: absolute;
  margin-left: 1137px;
  margin-top: -620px;
  z-index: 1;
  padding-left: 10px;
}