.img img {
  max-width: 200px;
  box-shadow: 5px 5px 12px rgb(43, 17, 0);
  width: 100%;
  cursor: pointer;
  @media (max-width: 599px) {
    max-width: 100px;
  }
}
.list {
  min-height: 680px;
  margin-top: 36px;
  color: #d6d6d6;
  @media (max-width: 599px) {
    min-height: 550px;
  }
  &_header {
    font-size: 22px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  &_box {
    display: flex;
    @media (max-width: 899px) {
      flex-direction: column;
    }
  }
  &_order {
    width: 350px;
    margin-left: 25px;
    @media (max-width: 899px) {
      width: 100%;
      margin-left: 0;
      margin-top: 25px;
    }
    & h3 {
      font-weight: 500;
    }
  }
  &_price {
    @media (max-width: 599px) {
      margin-left: auto;
    }
  }
  &_delete {
    font-size: 13px;
    color: #a8a8a8;
    text-align: center;
    cursor: pointer;
  }
  &_sumprice {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }
}
.hr {
  border: 1px solid #ffffffa6;
  border-bottom-width: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}