.list_display {
  display: flex;
  margin-top: 10px;
}
.img img {
  width: 200px;
}
.header_list {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  letter-spacing: 2px;
  margin-top: 55px;
  margin-left: 18px;
  color: #d6d6d6;
}