.list {
  display: flex;
  margin-top: 10px;
  margin-bottom: 25px;
  &_img {
    max-width: 200px;
    box-shadow: 5px 5px 12px rgb(43, 17, 0);
    width: 100%;
    @media (max-width: 599px) {
      max-width: 100px;
    }
  }
  &_text {
    max-width: 290px;
    @media (min-width: 851px) and (max-width: 899px) {
      max-width: 190px;
    }
    @media (max-width: 450px) {
      max-width: 125px;
    }
  }
}

.header_list {
  letter-spacing: 2px;
  margin-top: 55px;
  margin-left: 18px;
  color: #d6d6d6;
}