.list_display {
  display: flex;
  margin-top: 10px;
  margin-bottom: 25px;
}
.img img{
  max-width: 200px;
  box-shadow: 5px 5px 12px rgb(43, 17, 0);
  width: 100%;
}
.header_list {
  letter-spacing: 2px;
  margin-top: 55px;
  margin-left: 18px;
  color: #d6d6d6;
}
.color {
  @media (max-width: 1000px) {
    font-size: 10px;
  }
}