.header {
  font-size: 18px;
  background-color: black;
  color: #d6d6d6;
}
.logo {
  display: flex;
  align-items: center;
  & p {
    margin-left: 25px;
  }
}
.login {
  min-width: 146px;
  text-align: right;
  & span {
    vertical-align: text-bottom;
  }
}
.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login_menu {
  min-width: 146px;
  color: #d6d6d6;
  background-color: #4b4b4b;
  position: absolute;
  height: 70px;
  border-radius: 4px;
  & div {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.active {
  color: #ffffff;
}