.header {
  background-color: black;
}
.text {
  color: #ffffff;
  font-family: 'Candara';
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav span{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 18px;
  color: #d6d6d6;
  margin-left: 15px;
}