.footer {
  background-color: #3b3b3b;
  height: 170px;
  &_all {
    margin-top: 50px;
    padding-top: 50px;
  }
  &_hr {
    border: 1px solid #ffffffa6;
    border-bottom-width: 0;
  }
  &_span {
    color: #bebebe;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}