.footer {
  background-color: rgb(65, 65, 65);
  height: 170px;
}
.footer_hr {
  margin-top: 50px;
  padding-top: 50px;
}
.footer_span {
  margin-top: 25px;
  margin-bottom: 25px;
}
.hr_top {
  border: 1px solid #ffffffa6;
  border-bottom-width: 0;
}
.hr_bottom {
  border: 1px solid #ffffffa6;
  border-bottom-width: 0;
}