* {
  margin: 0;
  padding: 0;
}
.app {
  background-color: rgb(99, 99, 99);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.page404 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}